a {
    cursor: pointer;
}

body {
    width: 100%;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

button[type="submit"] {
    background-color: var(--background-color-tertiary);
    color: var(--text-color-tertiary);
    height: 3rem;
    margin-top: 1rem;
}

form {
    display: flex;
    width: clamp(300px, 80%, 600px);
    flex-direction: column;
    border: 1px solid var(--background-color-secondary);
    padding: 2rem 2rem;
    border-radius: var(--border-radius);
    gap: 1rem;
}

form>div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: calc(var(--gap) / 2);
}

form>div>div {
    display: flex;
}

input {
    padding: 0.5rem;
    border: none;
    border-radius: var(--border-radius);
    width: calc(100% - 0.5rem * 2);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-color {
    color: var(--highlight-color);
}

#register {
    display: none;
    transform: rotateY(180deg);
}
